<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>serienempfehlung.de</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      h2 {
        font-size: 1.1em;
        margin-bottom: 0;
      }
      li {
        border-left: 4px solid transparent;
      }
      li.must-see {
        border-left-color: #dc3545;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="header my-5">
        <h1>serienempfehlung.de</h1>
        <p class="lead">sortiert von neu nach alt</p>
      </div>
      <ol class="content my-5">
        {% for recommendation in recommendations %}
          <li class="row my-4 {{ 'must-see' if recommendation.must_see | default(false) else '' }}">
            <h2 class="col-sm-auto">{{ recommendation.title }}</h2>
            {% if recommendation.must_see | default(false) %}
              <small class="col-sm-3 text-danger">(must see)</small>
            {% endif %}
            {% if recommendation.limitation %}
              <small class="col-sm-3 text-info">({{ recommendation.limitation }})</small>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </main>
  </body>
</html>
